#projects {
  margin: 0 auto;
  margin-top: 72px;
  max-width: 1100px;
}

.projects-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font: var(--subtitle);
    font-size: clamp(1rem, 3vw, 1.25rem);
    color: var(--main-red);
  }

  p {
    margin-top: 8px;
    font: var(--title-md);
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    color: var(--base-gray-600);
  }
}

.projects-itens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 24px;
  margin-top: 56px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-gray-300);
  border-radius: 12px;
  border: 1.5px solid transparent;
  padding: 12px;

  img {
    width: 100%;
    border-radius: 8px;
  }

  .card-text {
    margin-top: 20px;
    max-width: 280px;

    h3 {
      font: var(--title-sm);
      color: var(--base-gray-600);
    }

    p {
      margin-top: 8px;
      font: var(--text-sm);
      color: var(--base-gray-500);
    }
  }
}

.card:hover {
  border: 1.5px solid var(--base-gray-400);
}

@media (width <= 700px) {
  .projects-itens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 400px) {
  .projects-itens {
    display: grid;
    grid-template-columns: 1fr;
  }
}
